{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="cards">

{% for card in cards %}
    {% if card.image %}
    <div class="card">



              <img src="/media/{{ card.image }}">
              <H2>{{card.title}}</H2>
              <div class="note-body">{{card.body}}</div><br>

              <div class="option-block">
              <div class="option">Edit</div>
              <div class="option">Delete</div>
              </div>


    </div>
    {% else %}

    <div class="card">

        <H2>{{card.title}}</H2>
        <div class="note-body-sans-img">{{card.body}}</div><br>

        <div class="option-block">
        <div class="option">Edit</div>
        <div class="option">Delete</div>
        </div>

    </div>
    {% endif %}

{% endfor %}

</div>

{% endblock %}