<div class="cards">
<div class="card">

              <img src="1.jpg">
              <H2>Title</H2>
              <div class="note-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolor repellendus laborum eaque totam illo rerum ex! Eius pariatur animi quos eos, error quasi, accusamus impedit facilis, id molestiae labore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis totam fugit iusto corrupti perferendis, consequuntur rerum harum suscipit voluptatum aut, temporibus ut beatae consectetur eveniet accusantium quod atque minus numquam!</div><br>

              <div class="option-block">
              <div class="option">Edit</div>
              <div class="option">Delete</div>
              </div>

</div>
</div>